<footer class="fs-400 padding-block-300">
    <div class="container flow">
        <div>
            Copyright <span id="currentYear"></span> &copy; Dryad Oak 
        </div>
        <div>
            The code and design elements of this website are the property of Dryad Oak and may not be reproduced or used without permission. Lego set data and images made possible by Brickset API. This site was created as a personal project to develop my programming skills.
        </div>
    </div>
</footer>