<section class="container padding-block-600">
    <h1 class="fs-primary-heading fw-semi-bold padding-block-700 padding-inline-900">Results for <span class="fw-bold"><%- searchInput %></span></h1>
    <div id="results-container" class="even-columns container padding-block-700">
        <% console.log(legoObject) %>
            <% if (legoObject.status === 'success' && legoObject.matches > 0) { %>
                <% legoObject.sets.forEach(function(set) { %>
                    <%- include('partials/legoSetFigurePartial', {set: set, checkboxTypes: ['Collection', 'Wishlist']}) %>
                <% }); %>
            <% } else { %>
                <p>No matching sets found.</p>
            <% } %>
    </div>
</section>